[submodule "themes/hugo-theme-even"]
	path = themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "hugo-vitae"]
	path = hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
